<div class="container">
  <header>
    <h1>Dokumenty</h1>
    <nav>
      <ul>
        <li [ngClass]="{ active: currentTab === 'list' }" (click)="setTab('list')">Lista Dokumentów</li>
        <li [ngClass]="{ active: currentTab === 'create' }" (click)="setTab('create')">Tworzenie Dokumentu</li>
        <li [ngClass]="{ active: currentTab === 'view' }" (click)="setTab('view')">Podgląd Dokumentu</li>
      </ul>
    </nav>
  </header>

  <main>
    <div *ngIf="currentTab === 'list'">
      <h2>Lista Dokumentów</h2>
      <ul>
        <li *ngFor="let dokument of dokumenty"
            [class.selected]="selectedDokumentId === dokument.id"
            (click)="selectDokument(dokument)">
          {{ dokument.typ }} - {{ dokument.data }}
          <button (click)="viewDokument(dokument, $event)">Podgląd</button>
        </li>
      </ul>
    </div>

    <div *ngIf="currentTab === 'create'">
      <h2>Tworzenie Dokumentu</h2>
      <form (ngSubmit)="zapiszDokument()">
        <label for="type">Typ dokumentu:</label>
        <select id="type" [(ngModel)]="newDokument.typ" name="type" required>
          <option value="Zakupu: Faktura zaliczkowa">Faktura zaliczkowa</option>
          <option value="Zakupu: Paragon">Paragon</option>
          <option value="Zakupu: Faktura zakupu">Faktura zakupu</option>
          <option value="Sprzedaży: Faktura sprzedaży z paragonu">Faktura sprzedaży z paragonu</option>
          <option value="Sprzedaży: Faktura sprzedaży">Faktura sprzedaży</option>
        </select>

        <button (click)="zapiszDokument()" type="button">Zapisz</button>
      </form>
    </div>

    <div *ngIf="currentTab === 'view'">
      <h2>Podgląd Dokumentu</h2>
      <div *ngIf="selectedDokument">
        <p><strong>Typ:</strong> {{ selectedDokument.typ }}</p>
        <p><strong>Data:</strong> {{ selectedDokument.data }}</p>
        <h3>Elementy Dokumentu</h3>
        <ul>
          <li *ngFor="let element of dokumentElements">
            <p><strong>Nazwa produktu:</strong> {{ element.nazwaProduktu }}</p>
            <p><strong>Ilość:</strong> {{ element.ilosc }}</p>
          </li>
        </ul>
        <button (click)="setTab('list')">Wróć do listy</button>
      </div>
    </div>
  </main>
</div>
